<button type="button" class="btn btn-primary" id="addGameBtnId" >Ny match</button>
<div id="CreateGameId"></div>

<h3>Alla Matcher</h3>
<div id="filterGamesId"></div>
<div id="allGamesId" class="tableContent"></div>
<script src="~/Scripts/SiteScripts/Games/GameIndexScripts.js"></script>
<script src="~/Scripts/SiteScripts/Games/GameListScripts.js"></script>