@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Västerås Snooker</h1>
    <p class="lead">Hellre för tunnt än för tjockt!</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Matcher</h2>
        <p>
            Vill du lägga till en ny match eller se sammandrag från tidigare matcher?
        </p>
        <p>@Html.ActionLink("Matcher", "Index", "Games", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-sm-6">
        <h2>Spelare</h2>
        <p>Vill du få en översikt över våra spelare med senaste resultat och topp-prestationer? Eller vill du lägga till en ny spelare?</p>
        <p>@Html.ActionLink("Spelare", "ViewPlayers", "Player", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
